

html {
	background-image: url("img/Background.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	font-family: "Titillium Web";
}

.row{

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
  

}

.col{

	margin:0 5%;
	max-width: 360px;
	

}


form{

background: white;
box-sizing: border-box;
-webkit-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.3);
box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.3);
margin: 10px;
padding: 10px;


}

.icon{
	float: left;
	padding: 5px;
	border-right: grey solid 1px;
}

.user_input{
	padding: 5px;
		
}

.input_box{
	
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid grey;
	padding: 5px;
	margin: 10px 0;
	color: grey;
}
input:focus, select:focus, textarea:focus {
	outline-width: 0;

}

.data_input{
	margin-left: 10px;
	border:0;
	width:85%;
}

.top_logo{
	
	display: block;
	margin: 2em auto;
	max-width: 430px;
	opacity: 0.5;
	
}
.btm_logo{
	max-width: 360px;
	margin-top: 2em;
	opacity: 0.5;
}
h2{
	text-align: center;
	color: white;
	margin: 25px 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	font-size: 2em;
	font-weight: 300;

}

/*.user_input--btn, .button_template {
-moz-box-shadow:inset 0px -4px 14px -5px #679151;
	-webkit-box-shadow:inset 0px -4px 14px -5px #679151;
	box-shadow:inset 0px -4px 14px -5px #679151;
	background-color:#87db09;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #77c750;
	display:inline-flex;
	cursor:pointer;
	color:#ffffff;
	font-family: inherit;
	font-weight: 800;
	padding:15px 35px;
	text-decoration:none;
	text-shadow:0px 1px 1px #5e6b56;
	margin-left: 10px;
	margin-right: 10px;
	justify-content: center;
}*/
/*.user_input--btn:hover {
	background-color:#90FF17;
}
.btn_container{
	display: flex;
	justify-content: center;
}
.large_btn{
	font-size: 23px;
	width: 80%;
	
}*/
.btn_template{
	width: 100%;
	border: 1px solid #3b9a00;
	border-radius: 2px;
	font-size: 1.5rem;
	font-family: 'Titillium Web', sans-serif;
	color: #FFFFFF;
	text-shadow: 1px 1px #51850e;
	background: linear-gradient(#a3d840, #73b618);
	height: 3rem;
	cursor: pointer;
}
.btn_medium{
	width: 160px;
}


.text_box {
	width: 290px;
	height: 200px;
}


 
.check_n_btn{
justify-content: space-between;
align-items: center;
display: flex;


}
